<% flash.each do |message_type, message| %>
<div class="container">
    <div class="alert alert-success"><%= message %></div>
</div>
<% end %>

<div class="container">
    <button type="button" class="btn btn-dark btn-lg btn-block" data-toggle="modal" data-target="#createProject">CREATE A NEW PROJECT</button>
</div><br />

<% if @projects.size > 0 %>
<div class="container">
    <div class="card border-dark mb-3">
        <div class="card-header text-white bg-dark">PROJECTS</div>
        <div class="card-body">
            <% @projects.each do |project| %>
            <div class="media">
                <%= image_tag("project.jpg", alt: "Project", size: '64', class: "mr-3") %>
                <div class="media-body">
                    <% if project.project_status_id == 1 %>
                    <h5 class="mt-0"><%= project.name %>
                        <p class="card-text badge badge-danger">Stand-by</p>
                    </h5>
                    <% elsif project.project_status_id == 2 %>
                    <h5 class="mt-0"><%= project.name %>
                        <p class="card-text badge badge-warning">Developing</p>
                    </h5>
                    <% else %>
                    <h5 class="mt-0"><%= project.name %>
                        <p class="card-text badge badge-success">Finished</p>
                    </h5>
                    <% end %>
                    <p>
                        <%= project.description %><br />
                        <%= ActiveSupport::TimeZone["Central Time (US & Canada)"].parse(project.updated_at.to_s).utc.to_date.strftime("%m/%^b/%Y")[1..-1] %><br /><br />
                        <%= link_to "GO TO PROJECT", { controller: "projects", action: "show", id: project.id }, class: 'btn btn-dark btn-sm' %>
                    </p>
                </div>
            </div>
            <hr />
            <% end %>
        </div>
    </div>
</div>
<% end %>

<% if @tasks.size > 0 %>
<div class="container">
    <div class="card border-dark mb-3">
        <div class="card-header text-white bg-dark">TASKS</div>
        <div class="card-body">
            <div class="list-group">
                <% @tasks.each do |task| %>
                <div class="list-group-item">
                    <div class="d-flex w-100 justify-content-between">
                        <h6 class="mb-1"><b><%= task.name %></b></h6>
                        <small class="text-muted"><%= ActiveSupport::TimeZone["Central Time (US & Canada)"].parse(task.created_at.to_s).utc.to_date.strftime("%m/%^b/%Y")[1..-1] %></small>
                    </div>
                    <p class="mb-1"><%= task.description %></p>
                    <% if task.task_status_id == 1 %>
                    <h6><span class="card-text badge badge-danger">To-Do</span></h6>
                    <% elsif task.task_status_id == 2 %>
                    <h6><span class="cart-text text-white badge badge-warning">Doing</span></h6>
                    <% else %>
                    <h6><span class="card-text badge badge-success">Done</span></h6>
                    <% end %>
                    <%= link_to "MORE INFORMATION", { controller: "tasks", action: "show", id: task.id }, class: 'btn btn-dark btn-sm' %>
                    <%= link_to "GO TO PROJECT", { controller: "projects", action: "show", id: task.project_id }, class: 'btn btn-dark btn-sm' %>
                </div>
                <% end %>
            </div>
        </div>
    </div>
</div>
<% end %>

<!-- Modal / Create project -->
<div class="modal fade" id="createProject" tabindex="-1" role="dialog" aria-labelledby="createProjectLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createProjectLabel">CREATE A NEW PROJECT</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <%= form_for Project.new, :url => url_for(:controller => 'projects', :action => 'create') do |f| %>
                <%= f.label :name %>
                <%= f.text_field :name, class: "form-control" %><br />
                <%= f.label :description %>
                <%= f.text_area :description, class: "form-control" %><br />
                <%= f.hidden_field :project_status_id, value: 1 %><br />
                <%= f.submit 'CREATE', class: 'btn btn-success' %>
                <% end %>
            </div>
        </div>
    </div>
</div>
