<div class="container">
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-board-tab" data-toggle="tab" href="#nav-board" role="tab" aria-controls="nav-board" aria-selected="true"><b>BOARD</b></a>
            <a class="nav-item nav-link" id="nav-information-tab" data-toggle="tab" href="#nav-information" role="tab" aria-controls="nav-information" aria-selected="false"><b>INFORMATION</b></a>
            <a class="nav-item nav-link" id="nav-members-tab" data-toggle="tab" href="#nav-members" role="tab" aria-controls="nav-members" aria-selected="false"><b>MEMBERS</b></a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent"><br />
        <button type="button" class="btn btn-dark btn-lg btn-block" data-toggle="modal" data-target="#createTask">ADD NEW TASK</button><br />
        <div class="tab-pane fade show active" id="nav-board" role="tabpanel" aria-labelledby="nav-board-tab">
            <div class="card-deck">
                <div class="card border-danger" style="height: 100%">
                    <h4 class="card-header text-white bg-danger text-center">TO-DO</h4>
                    <div class="card-body">
                        <div class="list-group">
                            <% @tasks_to_do.each do |task| %>
                            <div class="list-group-item">
                                <div class="d-flex w-100 justify-content-between">
                                    <h6 class="mb-1"><b><%= task.name %></b></h6>
                                    <small class="text-muted"><%= ActiveSupport::TimeZone["Central Time (US & Canada)"].parse(task.updated_at.to_s).utc.to_date.strftime("%m/%^b/%Y")[1..-1] %></small>
                                </div>
                                <p class="mb-1"><%= task.description %></p>
                                <small class="text-muted"><%= task.email %></small><br /><br />
                                <%= link_to "MORE INFORMATION", { controller: "tasks", action: "show", id: task.id }, class: 'btn btn-danger btn-sm w-100' %>
                            </div>
                            <% end %>
                        </div>
                    </div>
                </div>
                <div class="card border-warning" style="height: 100%">
                    <h4 class="card-header text-white bg-warning text-center">DOING</h4>
                    <div class="card-body">
                        <div class="list-group">
                            <% @tasks_doing.each do |task| %>
                            <div class="list-group-item">
                                <div class="d-flex w-100 justify-content-between">
                                    <h6 class="mb-1"><b><%= task.name %></b></h6>
                                    <small class="text-muted"><%= ActiveSupport::TimeZone["Central Time (US & Canada)"].parse(task.created_at.to_s).utc.to_date.strftime("%m/%^b/%Y")[1..-1] %></small>
                                </div>
                                <p class="mb-1"><%= task.description %></p>
                                <small class="text-muted"><%= task.email %></small><br /><br />
                                <%= link_to "MORE INFORMATION", { controller: "tasks", action: "show", id: task.id }, class: 'btn btn-warning btn-sm w-100' %>
                            </div>
                            <% end %>
                        </div>
                    </div>
                </div>
                <div class="card border-success" style="height: 100%">
                    <h4 class="card-header text-white bg-success text-center">DONE</h4>
                    <div class="card-body">
                        <div class="list-group">
                            <% @tasks_done.each do |task| %>
                            <div class="list-group-item">
                                <div class="d-flex w-100 justify-content-between">
                                    <h6 class="mb-1"><b><%= task.name %></b></h6>
                                    <small class="text-muted"><%= ActiveSupport::TimeZone["Central Time (US & Canada)"].parse(task.updated_at.to_s).utc.to_date.strftime("%m/%^b/%Y")[1..-1] %></small>
                                </div>
                                <p class="mb-1"><%= task.description %></p>
                                <small class="text-muted"><%= task.email %></small><br /><br />
                                <%= link_to "MORE INFORMATION", { controller: "tasks", action: "show", id: task.id }, class: 'btn btn-success btn-sm w-100' %>
                            </div>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-information" role="tabpanel" aria-labelledby="nav-information-tab">
            <div class="card border-dark mb-3">
                <div class="card-header text-white bg-dark">GENERAL INFORMATION</div>
                <div class="card-body">
                    <form>
                        <div class="form-group row">
                            <label for="staticName" class="col-md-3 col-form-label">Name:</label>
                            <div class="col-md-9">
                                <input type="text" readonly class="form-control-plaintext" id="staticName" value="<%= @project.name %>">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="staticDescription" class="col-md-3 col-form-label">Description:</label>
                            <div class="col-md-9">
                                <input type="text" readonly class="form-control-plaintext" id="staticDescription" value="<%= @project.description %>">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="staticStatus" class="col-md-3 col-form-label">Project Status:</label>
                            <div class="col-md-9">
                                <% if @project.project_status_id == 1 %>
                                <h4><span class="card-text badge badge-danger">Stand-by</span></h4>
                                <% elsif @project.project_status_id == 2 %>
                                <h4><span class="cart-text text-white badge badge-warning">Developing</span></h4>
                                <% else %>
                                <h4><span class="card-text badge badge-success">Finished</span></h4>
                                <% end %>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="card-footer">
                    <button class="btn btn-dark float-right" data-toggle="modal" data-target="#updateInformation">UPDATE INFORMATION</button>
                </div>
            </div>
            <% if @tasks.size > 0 %>
            <div class="card border-dark mb-3">
                <div class="card-header text-white bg-dark">TASKS</div>
                <div class="card-body">
                    <h4 class="text-center">Total tasks: <b><%= @tasks.size %></b></h4>
                    <div class="progress">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: <%= @tasks_to_do.size * 100 / @tasks.size %>%" aria-valuenow="<%= @tasks_to_do.size * 100 / @tasks.size %>" aria-valuemin="0" aria-valuemax="100"><b><%= @tasks_to_do.size %></b></div>
                        <div class="progress-bar bg-warning" role="progressbar" style="width: <%= @tasks_doing.size * 100 / @tasks.size %>%" aria-valuenow="<%= @tasks_doing.size * 100 / @tasks.size %>" aria-valuemin="0" aria-valuemax="100"><b><%= @tasks_doing.size %></b></div>
                        <div class="progress-bar bg-success" role="progressbar" style="width: <%= @tasks_done.size * 100 / @tasks.size %>%" aria-valuenow="<%= @tasks_done.size * 100 / @tasks.size %>" aria-valuemin="0" aria-valuemax="100"><b><%= @tasks_done.size %></b></div>
                    </div>
                </div>
            </div>
            <% end %>
        </div>
        <div class="tab-pane fade" id="nav-members" role="tabpanel" aria-labelledby="nav-members-tab">
            <div class="card border-dark mb-3">
                <div class="card-header text-white bg-dark">TEAM MEMBERS</div>
                <div class="card-body">
                    <% @users.each do |user| %>
                    <ul class="list-unstyled">
                        <li class="media">
                            <%= image_tag("avatar-image.png", alt: "Member", size: '64', class: "mr-3") %>
                            <div class="media-body">
                                <h5 class="mt-0 mb-1"><%= user.email %></h5>
                                <%= user.email %>
                            </div>
                        </li>
                    </ul>
                    <% end %>
                </div>
                <div class="card-footer">
                    <button class="btn btn-dark float-right" data-toggle="modal" data-target="#addMember">ADD MEMBER</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal / Create task -->
<div class="modal fade" id="createTask" tabindex="-1" role="dialog" aria-labelledby="createTaskLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createTaskLabel">CREATE A NEW TASK</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <%= form_for Task.new, :url => url_for(:controller => 'tasks', :action => 'create') do |f| %>
                <%= f.label :name %>
                <%= f.text_field :name, class: "form-control" %><br />
                <%= f.label :assignment_to %>
                <%= f.collection_select :user_id, User.where.not(id: current_user.id).order(:email),:id,:email, {}, class: "form-control" %><br />
                <%= f.label :description %>
                <%= f.text_area :description, class: "form-control" %><br />
                <%= f.label :task_status %>
                <%= f.collection_select :task_status_id, TaskStatus.all.order(:id),:id,:name, {}, class: "form-control" %><br />
                <%= f.hidden_field :user_id, value: current_user.id %><br />
                <%= f.hidden_field :project_id, value: params[:id] %><br />
                <%= f.submit 'CREATE', class: 'btn btn-success' %>
                <% end %>
            </div>
        </div>
    </div>
</div>

<!-- Modal / Update information -->
<div class="modal fade" id="updateInformation" tabindex="-1" role="dialog" aria-labelledby="updateInformationLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="updateInformationLabel">UPDATE INFORMATION</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <%= form_for @project, :url => url_for(:controller => 'projects', :action => 'update') do |f| %>
                <%= f.label :name %>
                <%= f.text_field :name, value: "#{@project.name}", class: "form-control" %><br />
                <%= f.label :description %>
                <%= f.text_area :description, value: "#{@project.description}", class: "form-control" %><br />
                <%= f.label :project_status %>
                <%= f.collection_select :project_status_id, ProjectStatus.all.order(:id),:id,:name, {:selected => "#{@project.project_status_id}"}, class: "form-control" %><br />
                <%= f.submit 'UPDATE', class: 'btn btn-success' %>
                <% end %>
            </div>
        </div>
    </div>
</div>

<!-- Modal / Add member -->
<div class="modal fade" id="addMember" tabindex="-1" role="dialog" aria-labelledby="addMemberLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addMemberLabel">ADD MEMBER</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <%= form_for ProjectRelationship.new, :url => url_for(:controller => 'project_relationships', :action => 'create') do |f| %>
                <%= f.label :user %>
                <%= f.collection_select :user_id, User.all.order(:email),:id,:email, {}, class: "form-control" %><br />
                <%= f.hidden_field :project_id, value: params[:id] %><br />
                <%= f.submit 'ADD', class: 'btn btn-success' %>
                <% end %>
            </div>
        </div>
    </div>
</div>