<div class="container">
    <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <a class="nav-item nav-link active" id="nav-board-tab" data-toggle="tab" href="#nav-board" role="tab" aria-controls="nav-board" aria-selected="true"><b>BOARD</b></a>
            <a class="nav-item nav-link" id="nav-information-tab" data-toggle="tab" href="#nav-information" role="tab" aria-controls="nav-information" aria-selected="false"><b>INFORMATION</b></a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent"><br />
        <button type="button" class="btn btn-dark btn-lg btn-block" data-toggle="modal" data-target="#createTask">ADD NEW TASK</button><br />
        <div class="tab-pane fade show active" id="nav-board" role="tabpanel" aria-labelledby="nav-board-tab">
            <div class="card-deck">
                <div class="card border-danger">
                    <h4 class="card-header text-white bg-danger text-center">TO-DO</h4>
                    <div class="card-body">
                        <div class="list-group">
                            <% @tasks_to_do.each do |task| %>
                            <a href="#" class="list-group-item list-group-item-action">
                                <div class="d-flex w-100 justify-content-between">
                                    <h6 class="mb-1"><%= task.name %></h6>
                                    <small class="text-muted"><%= task.created_at %></small>
                                </div>
                                <p class="mb-1"><%= task.description %></p>
                                <small class="text-muted">Donec id elit non mi porta.</small>
                            </a>
                            <% end %>
                        </div>
                    </div>
                </div>
                <div class="card border-warning">
                    <h4 class="card-header text-white bg-warning text-center">DOING</h4>
                    <div class="card-body">
                        <div class="list-group">
                            <% @tasks_doing.each do |task| %>
                            <a href="#" class="list-group-item list-group-item-action">
                                <div class="d-flex w-100 justify-content-between">
                                    <h6 class="mb-1"><%= task.name %></h6>
                                    <small class="text-muted"><%= task.created_at %></small>
                                </div>
                                <p class="mb-1"><%= task.description %></p>
                                <small class="text-muted">Donec id elit non mi porta.</small>
                            </a>
                            <% end %>
                        </div>
                    </div>
                </div>
                <div class="card border-success">
                    <h4 class="card-header text-white bg-success text-center">DONE</h4>
                    <div class="card-body">
                        <div class="list-group">
                            <% @tasks_done.each do |task| %>
                            <a href="#" class="list-group-item list-group-item-action">
                                <div class="d-flex w-100 justify-content-between">
                                    <h6 class="mb-1"><%= task.name %></h6>
                                    <small class="text-muted"><%= task.created_at %></small>
                                </div>
                                <p class="mb-1"><%= task.description %></p>
                                <small class="text-muted">Donec id elit non mi porta.</small>
                            </a>
                            <% end %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="nav-information" role="tabpanel" aria-labelledby="nav-information-tab">
            <div class="card border-dark mb-3">
                <div class="card-header text-white bg-dark">GENERAL INFORMATION</div>
                <div class="card-body">
                    <form>
                        <div class="form-group row">
                            <label for="staticName" class="col-sm-2 col-form-label">Name:</label>
                            <div class="col-sm-10">
                                <input type="text" readonly class="form-control-plaintext" id="staticName" value="<%= @project.name %>">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="staticDescription" class="col-sm-2 col-form-label">Description:</label>
                            <div class="col-sm-10">
                                <input type="text" readonly class="form-control-plaintext" id="staticDescription" value="<%= @project.description %>">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="staticStatus" class="col-sm-2 col-form-label">Status:</label>
                            <div class="col-sm-10">
                                <% if @project.status == 1 %>
                                <h4><span class="card-text badge badge-primary">Developing</span></h4>
                                <% elsif @project.status == 2 %>
                                <h4><span class="cart-text text-white badge badge-warning">Stand by</span></h4>
                                <% else %>
                                <h4><span class="card-text badge badge-success">Finished</span></h4>
                                <% end %>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="card border-dark mb-3">
                <div class="card-header text-white bg-dark">TASKS</div>
                <div class="card-body">
                    <h4 class="text-center">Total tasks: <b><%= @tasks.size %></b></h4>
                    <div class="progress">
                        <div class="progress-bar bg-danger" role="progressbar" style="width: <%= @tasks_to_do.size * 100 / @tasks.size %>%" aria-valuenow="<%= @tasks_to_do.size * 100 / @tasks.size %>" aria-valuemin="0" aria-valuemax="100"><b><%= @tasks_to_do.size %></b></div>
                        <div class="progress-bar bg-warning" role="progressbar" style="width: <%= @tasks_doing.size * 100 / @tasks.size %>%" aria-valuenow="<%= @tasks_doing.size * 100 / @tasks.size %>" aria-valuemin="0" aria-valuemax="100"><b><%= @tasks_doing.size %></b></div>
                        <div class="progress-bar bg-success" role="progressbar" style="width: <%= @tasks_done.size * 100 / @tasks.size %>%" aria-valuenow="<%= @tasks_done.size * 100 / @tasks.size %>" aria-valuemin="0" aria-valuemax="100"><b><%= @tasks_done.size %></b></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="createTask" tabindex="-1" role="dialog" aria-labelledby="createTaskLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createTaskLabel">CREATE A NEW TASK</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <%= form_for Task.new, :url => url_for(:controller => 'tasks', :action => 'create') do |f| %>
                <%= f.label :name %>
                <%= f.text_field :name, class: "form-control" %><br />
                <%= f.label :assignment_to %>
                <%= f.collection_select :user_id, User.where.not(id: current_user.id).order(:email),:id,:email, {}, class: "form-control" %><br />
                <%= f.label :description %>
                <%= f.text_area :description, class: "form-control" %><br />
                <%= f.collection_select :status_id, TaskStatus.all.order(:id),:id,:name, {}, class: "form-control" %><br />
                <%= f.hidden_field :user_id, value: current_user.id %><br />
                <%= f.hidden_field :project_id, value: params[:id] %><br />
                <%= f.submit 'CREATE', class: 'btn btn-success' %>
                <% end %>
            </div>
        </div>
    </div>
</div>